.nav-link{
  float: right;
  display: flex;

}

.nav-link a{
  margin:0 10px;
}

body {
  background-image: url('../assets/background-image/image111.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
