<h1 mat-dialog-title>Add Product</h1>
<div mat-dialog-content>
  <form [formGroup]="productForm">
    <div class="row">
    <mat-form-field>
      <input matInput placeholder="Product Name" formControlName="name">
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field>
      <mat-label>Choose one</mat-label>
      <mat-select formControlName="category">
          <mat-option *ngFor="let item of categoryOptions" [value]="item.id">{{item.label}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
      <mat-form-field>
      <input matInput type="number" placeholder="Price" formControlName="price">
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button (click)="save()">Save</button>
</div>
